<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Abinav Seelan, Aditi Mohanty | CampVanilla" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <meta name="google-site-verification" content="7Sax_lDoa6moZA9trVino0wuKyZkmJIInvjWkxAB5vU" />
    <meta
      name="keywords"
      content="box-shadow, box shadows, css shadows, css tool, web tool, presets, editor, design, web design, toolkit, Abinav Seelan, Aditi Mohanty, CampVanilla"
    />
    <!-- Primary Meta Tags -->
    <title>boxShadows | CSS box-shadow editor & quick presets</title>
    <meta name="title" content="boxShadows | CSS box-shadow editor & quick presets">
    <meta name="description" content="Create & tweak css box-shadows or roll with some neat presets! ⚡️">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://boxshadows.com">
    <meta property="og:title" content="boxShadows | CSS box-shadow editor & quick presets">
    <meta property="og:description" content="Create & tweak css box-shadows or roll with some neat presets! ⚡️">
    <meta property="og:image" content="https://boxshadows.com<%= require('./assets/twitter-card.min.png').default %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://boxshadows.com">
    <meta property="twitter:title" content="boxShadows | CSS box-shadow editor & quick presets">
    <meta property="twitter:description" content="Create & tweak css box-shadows or roll with some neat presets! ⚡️">
    <meta property="twitter:image" content="https://boxshadows.com<%= require('./assets/twitter-card.min.png').default %>">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <style>
      #app-shell-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        min-height: 200px;
      }

      #logo-stack {
        width: 90vw;
        max-width: 300px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="app-shell-container">
        <svg viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg" id="logo-stack">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M268.611 218.407L506.14 163.137L360.482 361.974L133.523 410.663L268.611 218.407Z"
            fill="#03DFD8"
            opacity="0.15"
            id="stack-level-2"
          />
          <path
            opacity="0.5"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M209.676 195.223L447.205 139.953L301.547 338.79L74.5875 387.479L209.676 195.223Z"
            fill="#03DFD8"
            id="stack-level-1"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M138.897 173.144L376.425 117.874L230.767 316.711L3.80804 365.401L138.897 173.144Z"
            fill="#03DFD8"
            id="stack-level-0"
          />

          <animate
            xlink:href="#stack-level-0"
            attributeType="CSS"
            attributeName="opacity"
            from="1"
            to="1"
            dur="2s"
            values="1; 0.75; 0.5; 0.75; 1"
            keyTimes="0; 0.25; 0.5; 0.75; 1"
            repeatCount="indefinite"
          />
          <animate
            xlink:href="#stack-level-1"
            attributeType="CSS"
            attributeName="opacity"
            from="0.5"
            to="0.5"
            dur="2s"
            values="0.5; 0.75; 0.95; 0.75; 0.5"
            keyTimes="0; 0.25; 0.5; 0.75; 1"
            repeatCount="indefinite"
          />
          <animate
            xlink:href="#stack-level-2"
            attributeType="CSS"
            attributeName="opacity"
            from="0.15"
            to="0.15"
            dur="2s"
            values="0.15; 0.5; 0.75; 0.5; 0.15"
            keyTimes="0; 0.25; 0.5; 0.75; 1"
            repeatCount="indefinite"
          />
        </svg>
      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97738324-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-97738324-2', {
        'custom_map': {
          dimension1: 'href'
        }
      });
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Abinav Seelan",
        "jobTitle": "UI Engineer",
        "url": "https://abinavseelan.com",
        "sameAs": [
          "https://medium.com/@abinavseelan",
          "https://github.com/abinavseelan",
          "https://www.linkedin.com/in/abinavseelan",
          "https://twitter.com/abinavseelan",
          "https://www.facebook.com/abinav.seelan",
          "https://www.youtube.com/abinavseelan",
          "https://plus.google.com/+AbinavSeelan"
        ],
        "worksFor": {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://flipkart.com/"
        },
        "workLocation": {
          "@type": "City",
          "name": "Bangalore"
        },
        "gender": "male",
        "birthDate": "1994-09-23",
        "alumniOf": "PESIT Bangalore South Campus"
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://abinavseelan.com",
        "name": "Abinav Seelan | UI Engineer",
        "author": {
          "@type": "Person",
          "name": "Abinav Seelan"
        }
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Aditi Mohanty",
        "givenName": "Aditi",
        "additionalName": "Anomita",
        "familyName": "Mohanty",
        "alternateName": "Rhea Aditi Mohanty",
        "gender": "Female",
        "birthDate": "1993-11-15",
        "url": "https://aditimohanty.com",
        "worksFor": {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://cleartax.in/"
        },
        "workLocation": {
          "@type": "City",
          "name": "Bangalore"
        },
        "jobTitle": "Front-End Engineer",
        "sameAs": [
          "https://twitter.com/rheaditi",
          "https://github.com/rheaditi",
          "https://www.facebook.com/rheaditi",
          "https://www.linkedin.com/in/aditimohanty",
          "https://medium.com/@rheaditi",
          "https://plus.google.com/107897063491970383192",
          "https://www.quora.com/profile/Aditi-Mohanty-1",
          "https://angel.co/aditimohanty",
          "https://dribbble.com/rheaditi",
          "https://www.instagram.com/rheaditi",
          "https://codepen.io/rheaditi",
          "https://www.youtube.com/channel/UC6FqIhJcioETW6xXzN6ILZA",
          "https://doselect.com/@rheaditi",
          "https://www.last.fm/user/rheaditi"
        ],
        "alumniOf": "PES Institute of Technology, Bangalore South Campus"
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://aditimohanty.com",
        "name": "Aditi Mohanty | Front-End Engineer, Bangalore, India",
        "author": {
          "@type": "Person",
          "name": "Aditi Mohanty"
        }
      }
    </script>
  </body>
</html>
